:root{
font-size: 10px;
}
body{ 
    margin: 0;
    font-family: 'Raleway', sans-serif;
}
.header_bacground{
background-color: #F8F4FC;
height: 117px;

}
/* Header */
.with{
    height: 100%;
    width: 80%;
    margin: auto;
    padding-top: 1rem;
}
.margin{
    height: 40px;
    width: 180px;
}

.grid_in_head{
    padding: 0;
    margin: 0;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 3fr .1fr .1fr .1fr;
    gap: 2rem;
}
#righter{
    padding-left: 4rem;
}
.grid_in_head2{
    margin: 0;
    padding: 1.5rem 0 0 0;
    display: grid;
    grid-template-columns:repeat(20, 1fr);
    white-space: nowrap;
    justify-items: center;
    align-items: center;

}
.grid_items_in_header{
    list-style: none;
}

.grid_items_in_header a{
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 700;
    color: #354657;
}
.bottom2{
    list-style: none;
}
#lefter{
    padding-right: 1rem;
}
.bottom2 a{
    font-size: 1rem ;
    color: #626262;
    text-decoration: none;
}
.bottom2 a:hover{
    border-bottom: 1px solid #626262;
}
/* заголовок */
.H1{
    
    text-align: inherit;
    width: 80%;
    margin: 5rem auto;
    border-bottom: solid 1px #E2E2E2;
}
h1{ 
    margin: 2 0;
    font-size: 3rem;
    font-weight: 700;
}
/* main */
h2{
    color: #354657;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;
    padding-right: 1rem;
}
h3{
    display: inline-block;
    color: #354657;
    font-size:1.8rem;
    font-weight: 700;
    width: 17%;
}
/* центральный грид */
.Grid_in_main{
    width: 80%;
    margin: auto;
}
.grid_in_main_box{
    display: grid;
    grid-template-columns: 1.3fr 2.8fr;
    gap: 3rem;


}
.grid_in_main_box_right{
    align-self: flex-start;
    display: grid;
    grid-template-columns:auto;
    gap: 3rem;
    
}
.grid_in_main_box_left{
    align-self: flex-start;
    display: grid;
    grid-template-columns:auto;
    grid-template-rows: auto; 
    gap: 3rem;  
}
/* стилизация гридов */
.grid_in_main_items{
  padding-left: 2rem;
  height:13rem ;
  background-color:#F0F2F5;
  text-align: left;
  white-space: nowrap;
}
/* шапка корзины */
p{
display: block;
font-size: 2rem;
font-weight: 700;
color: #354657;
background-color: white;
margin: 0 ; 
padding: 0 0 1rem 0;
}
.box3{
    height: auto;
    padding: 1.3rem;
    
}
.box6{
    height: auto;
    padding: 0;
}

/* выдвижная панель слева */
summary{
    list-style: none;
    cursor: pointer;
}
.personal_data_L{
    Font-size: 1.4rem;
    color: #354657;
}
.personal_data{
    margin: 1rem 0 2rem 0;
    border: solid 1px #B6B6B6;
    height: 3rem;
    width: 29rem;
    border-radius: 3px;
   
}/* стилизация радио инпутов */
.inp{
    display: none;
}

.input_centre{
    display: inline-block;
      width: 15px;
    height: 15px;
    border: solid 1px #946FD3;
    border-radius: 50%;
    vertical-align: top;

}
.inp + label{
    cursor: pointer;
    width: 15px;
    height: 15px;
    border: none 1px ;
    border-radius: 50%;
    display: inline-block;
}
.inp:checked + label{
    display: inline-block;
    width: 11px;
    height: 11px;
    margin: 2px 2px;
    background-color: #946FD3;
    border-radius: 50%;
}
.textlabel{
    font-size:16px;
    color: #354657;
    font-weight: 400;
    padding: 0 0 0 .7rem;
    margin-right: 1.7rem;
    cursor: pointer;
    box-sizing: border-box;
}

/* Таблица корзины */
table{
    width: 100%;
    border-collapse: collapse;
}
.white{
    background-color: white;
}
th{
display: inline-block;
width: 12.7rem;
height: 5rem;
box-sizing: border-box;
background-color: none;
}
td{
padding-left: 3.5rem;   
display: inline-block;
width: 12.7rem;
height: 5rem;
box-sizing: border-box;

}
.light{
    font-size: 1.5rem;
    font-weight: 400;
    text-align: left;
    color:#354657 ;
    padding-top: 1.7rem;

}
.fat{
    padding-right: 3rem;
    padding-top: 1.7rem;
    text-align: right;
    color:#354657 ;
    font-size: 1.5rem;
    font-weight: 700;

}
#margin1{
    z-index: 2;
    padding-left: 5.9rem;
}
.img_in_th1{
    text-align: center;
}
.minitable{
display: inline-block;
vertical-align: middle;
margin-top:.7rem;
margin-left: .3rem;
cursor: pointer;
}
 /* блок текстейры */
#first{
font-size: 1.4rem;
    font-weight: 400;
    color: #354657;
}
#second{
    font-size: 1.6rem;
    font-weight: 400;
    color: #354657;
}
#comment{
    resize: none;
    border: solid 1px #B6B6B6;
    border-radius: 3px;
    padding: .5rem;
    margin: 1rem 0;
    box-sizing: border-box;
}
.box8{
    height: auto;
}



/* нишняя галочка чекбокса */
.inp1{
    display: none;
}
.input_centre1{
    display: inline-block;
      width: 15px;
    height: 15px;
    border: solid 1px #946FD3;
    border-radius: 4px;
    vertical-align: top;

}
.inp1 + label{
    cursor: pointer;
    width: 15px;
    height: 15px;
    border: none 1px ;
    border-radius: 50%;
    display: inline-block;
}
.inp1:checked + label{
    display: inline-block;
    width: 11px;
    height: 11px;
    margin: 2px 2px;
    background-color: #946FD3;
    border-radius: 3px;
}
/* bottom BTN */
.paybtn{
    border: solid 1px #946FD3;
    border-radius: 30px;
    padding: 1.7rem 3rem;
    font-size: 1.6rem;
    font-weight: 700;
    color: #946FD3;
    background-color: white;
    display: block;
    position: relative;
    margin: 3rem 0;
    left: 63%;
    cursor: pointer;   
}
.paybtn:hover{
    border: solid 1px white;
    color: white;
    background-color:#946FD3 ;
}

/* Footer */
footer{
    margin-top: 10rem;
    border-top: solid 1px #E2E2E2;
}
.footer_div{
   display: flex;
   width: 80%;
   margin: auto;
   justify-content: space-between;
}
.footer{
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  padding: 1rem 0;
  align-items: center;
}
.footer_icons{
  display: flex; 
}
.padding{
  padding-bottom: 0.5rem;
}
.img{
  margin: 0 .3rem;
  align-self: center;
}
.margin{
 margin-left:  4rem;
 margin-top: 2rem;
}
.margin1{
margin-left: 10rem;
}
.footer_item{
  list-style: none;
}
.footer_item a{
  white-space: nowrap;
  text-decoration: none;
  font-size: 16px;
  color: #354657;
  font-weight: 700;
  bottom: 1rem;
}

#numb{
    border: solid #E9E9E9 2px;
    width:  3rem;
    height: 2rem;

}
